<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "BandOfTheWeek" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="max-w-7xl mx-auto bg-green-500">
    <header class="mt-4 flex flex-start items-center space-x-4">
      <h1 class="flex-0 font-bold text-gray-800 text-2xl"><%= link "Band Of The Week", to: Routes.page_path(@conn, :index) %></h1>
      <nav class="flex justify-between items-center flex-1">
        <section>
          <ul class="flex space-x-2 items-center">
            <li><%= link "Authorize", to: Routes.authorization_path(@conn, :authorize) %></li>
            <li><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %></li>
          </ul>
        </section>
        <%= render "_user_menu.html", assigns %>
      </nav>
    </header>
    <%= @inner_content %>
  </body>
</html>
